/* http://scotch.io/tutorials/off-canvas-menus-with-css3-transitions-and-transforms */

#siobhan-page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  height: 5000px; /* Temp: Simulates a tall page. */
}
#siobhan-page-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0); 
  transform: translate3d(0, 0, 0); 
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  padding: 1% 0; /* Temp: Just spacing. */
}
.show-nav #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
}
#siobhann-page-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #428bca;
  padding: 15px;
}


.ease { -webkit-transition: 300ms ease all; transition: 300ms ease all; }

