///////////////////////////////////
// Off canvas stuff
///////////////////////////////////

// Menu toggle
.siobhan-hotspot {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 888885; 
  transition: all 300ms ease 0s;
  font-family: @font-family-sans-serif;
  font-weight: bold;
  font-size: 26px; 
  text-transform: uppercase;
  letter-spacing: -2px;
}
.siobhan-hotspot a {
  color: @brand-primary;
}
body.scrolled .siobhan-hotspot { top: 0; }
.siobhan-menu-text { transition: all 300ms ease 0s; }
body.scrolled .siobhan-menu-text { 
  font-size: 14px;
  letter-spacing: -1px;
}
.siobhan-hotspot .siobhan-toggle .glyphicon { font-size: 80%; }
body.scrolled .siobhan-hotspot .siobhan-toggle { color: @link-color; }
.siobhan-hotspot .siobhan-toggle:hover,  
body.scrolled .siobhan-hotspot .siobhan-toggle:hover { 
  cursor: pointer;
  color: @link-hover-color;
}
.siobhan-toggle { z-index: 888885; }
.siobhan-toggle:hover { cursor: pointer; }
.siobhan-hotspot .siobhan-toggle.left { padding: 8px 20px 8px 10px; }

// Off canvas panels
.siobhan-oc-panel {
  top: 0px; 
  width: 300px; 
  height: 100%; 
  position: fixed; 
  z-index: 888889; 
  overflow: hidden; 
  backface-visibility: hidden;
  background: @gray-darker;
  transition: transform 300ms ease 0s;
  padding: 25px 10px;
  color: #fff;
  font-family: @font-family-sans-serif; 
  letter-spacing: -0.5px;
}
#siobhan-oc-left {
  left: -300px; 
  border-right: 5px solid @gray;
  background: @gray-darker;
}
#siobhan-oc-right {
  right: -300px; 
  border-left: 5px solid @gray;
}
#siobhan-oc-left.shown {
  -ms-transform: translate(300px, 0); 
  -webkit-transform: translate(300px, 0); 
  transform: translate(300px, 0);
}
#siobhan-oc-right.shown {
  -ms-transform: translate(-300px, 0); 
  -webkit-transform: translate(-300px, 0); 
  transform: translate(-300px, 0);
}
.siobhan-oc-panel a {
  color: #ffffff;
  display: block;
}
.siobhan-oc-panel a:hover {
  color: @link-color;
}
// Main menu in oc-panel
.siobhan-oc-panel ul.menu {
  font-size: 20px;
}
.siobhan-oc-panel ul.menu ul.menu {
  font-size: 18px;
}
.siobhan-oc-panel ul.menu a.is-active{
  font-weight: bold;
  color: @link-color;
}
// Overlay to click away the menu
.siobhan-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 888887;
}
body.siobhan-oc-shown .siobhan-overlay {
  display: block;
}
