///////////////////////////////////
// Top of page margin and padding
///////////////////////////////////
body {margin: 0; background: @brand-primary;}
.white-wrapper {
  background: #fff;
  padding-bottom: 35px;
}



///////////////////////////////////
// Footer
///////////////////////////////////
.footer { border-top: 0; }
#footer-wrapper { 
  box-shadow: inset 0px 5px 5px rgba(0,0,0,0.4);
}



///////////////////////////////////
// Splash
///////////////////////////////////
.siobhan-splash {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 888887;
}
.siobhan-splash > div {
  display: table;
  height: 100%;
  width: 100%;
}
.siobhan-splash > div > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.siobhan-splash #block-siobhan-search {
  max-width: 400px;
  margin: auto;
}



///////////////////////////////////
// Scroller
///////////////////////////////////
#siobhan-scroller {
  position: fixed;
  bottom: -50px;
  right: 15px;
  z-index: 888888; 
  transition: all 300ms ease 0s;
  font-size: 32px;
}
#siobhan-scroller a:hover { cursor: pointer; }
body.scrolled #siobhan-scroller { bottom: 5px; }



///////////////////////////////////
// Logo
///////////////////////////////////
.logo {text-align: center;}
div.logo a.logo img {padding-top: 20px;}



///////////////////////////////////
// Footer
///////////////////////////////////
.footer { margin-top: 0; }



///////////////////////////////////
// Flooding
///////////////////////////////////
.flooded {
  width: 100%;
  height: 100%;
}


///////////////////////////////////
// Blog image spacing
///////////////////////////////////
article#center div.field-image {
  margin-bottom: 10px;
}

///////////////////////////////////
// Breakpoints
///////////////////////////////////
@media screen and (max-width: 767px) {
  h1 { 
    font-size: 42px; 
    letter-spacing: -1.5px;
  }
  h2 { 
    font-size: 36px; 
    letter-spacing: -1.5px;
  }
  h3 { 
    font-size: 32px; 
    letter-spacing: -1.5px;
  }
  h4 { 
    font-size: 26px; 
    letter-spacing: -1px;
  }
  h5 { 
    font-size: 23px; 
    letter-spacing: -0.5px;
  }
  h6 { 
    font-size: 20px; 
  }
  .logo {
    text-align: right;
    padding-right: 10%;
  }
  section.comments div.indented {
    margin-left: 15px !important;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

