#right {
    float:right;
}
.col-xs-inset--12 {
    margin-right: -100%;
}
.col-xs-inset-0 {
    margin-right: 0%;
}
.col-xs-inset-1 {
    margin-right: 8.33333%;
}
.col-xs-inset-2 {
    margin-right: 16.66667%;
}
.col-xs-inset-3 {
    margin-right: 25%;
}
.col-xs-inset-4 {
    margin-right: 33.33333%;
}
.col-xs-inset-5 {
    margin-right: 41.66667%;
}
.col-xs-inset-6 {
    margin-right: 50%;
}
.col-xs-inset-7 {
    margin-right: 58.33333%;
}
.col-xs-inset-8 {
    margin-right: 66.66667%;
}
.col-xs-inset-9 {
    margin-right: 75%;
}
.col-xs-inset-10 {
    margin-right: 83.33333%;
}
.col-xs-inset-11 {
    margin-right: 91.66667%;
}
.col-xs-inset-12 {
    margin-right: 100%;
}
@media (min-width: 768px) {
    .col-sm-inset--12 {
        margin-right: -100%;
    }
    .col-sm-inset-0 {
        margin-right: 0%;
    }
    .col-sm-inset-1 {
        margin-right: 8.33333%;
    }
    .col-sm-inset-2 {
        margin-right: 16.66667%;
    }
    .col-sm-inset-3 {
        margin-right: 25%;
    }
    .col-sm-inset-4 {
        margin-right: 33.33333%;
    }
    .col-sm-inset-5 {
        margin-right: 41.66667%;
    }
    .col-sm-inset-6 {
        margin-right: 50%;
    }
    .col-sm-inset-7 {
        margin-right: 58.33333%;
    }
    .col-sm-inset-8 {
        margin-right: 66.66667%;
    }
    .col-sm-inset-9 {
        margin-right: 75%;
    }
    .col-sm-inset-10 {
        margin-right: 83.33333%;
    }
    .col-sm-inset-11 {
        margin-right: 91.66667%;
    }
    .col-sm-inset-12 {
        margin-right: 100%;
    }
}
@media (min-width: 992px) {
    .col-md-inset--12 {
        margin-right: -100%;
    }
    .col-md-inset-0 {
        margin-right: 0%;
    }
    .col-md-inset-1 {
        margin-right: 8.33333%;
    }
    .col-md-inset-2 {
        margin-right: 16.66667%;
    }
    .col-md-inset-3 {
        margin-right: 25%;
    }
    .col-md-inset-4 {
        margin-right: 33.33333%;
    }
    .col-md-inset-5 {
        margin-right: 41.66667%;
    }
    .col-md-inset-6 {
        margin-right: 50%;
    }
    .col-md-inset-7 {
        margin-right: 58.33333%;
    }
    .col-md-inset-8 {
        margin-right: 66.66667%;
    }
    .col-md-inset-9 {
        margin-right: 75%;
    }
    .col-md-inset-10 {
        margin-right: 83.33333%;
    }
    .col-md-inset-11 {
        margin-right: 91.66667%;
    }
    .col-md-inset-12 {
        margin-right: 100%;
    }
}
@media (min-width: 1200px) {
    .col-lg-inset--12 {
        margin-right: -100%;
    }
    .col-lg-inset-0 {
        margin-right: 0%;
    }
    .col-lg-inset-1 {
        margin-right: 8.33333%;
    }
    .col-lg-inset-2 {
        margin-right: 16.66667%;
    }
    .col-lg-inset-3 {
        margin-right: 25%;
    }
    .col-lg-inset-4 {
        margin-right: 33.33333%;
    }
    .col-lg-inset-5 {
        margin-right: 41.66667%;
    }
    .col-lg-inset-6 {
        margin-right: 50%;
    }
    .col-lg-inset-7 {
        margin-right: 58.33333%;
    }
    .col-lg-inset-8 {
        margin-right: 66.66667%;
    }
    .col-lg-inset-9 {
        margin-right: 75%;
    }
    .col-lg-inset-10 {
        margin-right: 83.33333%;
    }
    .col-lg-inset-11 {
        margin-right: 91.66667%;
    }
    .col-lg-inset-12 {
        margin-right: 100%;
    }
}
@media screen and (max-width: 991px) {
  #right.clear-991 { clear: both; }
}
@media screen and (max-width: 767px) {
  #right { clear: both; }
}
