///////////////////////////////////
// Demo - Feel free to remove
///////////////////////////////////
section[id*="block-regiondemo"] {
    box-shadow: 3px 8px 8px 5px #6B6B6B inset;
    background-color: #ccc;
}



///////////////////////////////////
// Variables
///////////////////////////////////
@siobhan-shadow:  -3px -3px 3px 0px rgba(0, 0, 0, 0.19), 3px 0px 3px 0px rgba(0, 0, 0, 0.19), 0px 3px 3px 0px rgba(0, 0, 0, 0.23);
@link-colur-lighter: #efd9fc;



///////////////////////////////////
// Frontpage
///////////////////////////////////
//Main news
article.on-frontpage {
  border-top: 5px solid #333;
  margin-bottom: 35px;
  box-shadow: @siobhan-shadow;
  padding: 15px 18px 5px 18px;
}
article.on-frontpage h2 {
  letter-spacing: -2px; 
  text-transform: uppercase;
  font-family: @font-family-h1;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 85%;
  padding-top: 14px;
}
article.on-frontpage h2 a {
  color: @gray-darker;
}
article.on-frontpage div.author {
  font-size: 14px;
  margin: 0;
  border-bottom: 0;
}
//Latest news
div.view-latest-news div.view-content > div:first-of-type {
  border-top: 1px solid @gray;
}
div.view-latest-news div.view-content > div {
  border-bottom: 1px solid @gray;
  margin-bottom: 5px;
  padding: 8px;
  clear: both;
  min-height: 94px;
}
div.view-latest-news div.view-content > div img {
  width: 79px;
  height: 79px;
  float: left;
  padding: 0 4px 4px 0;
}
div.view-latest-news p.block-title-link {
  font-family: @font-family-sans-serif;
  line-height: 95%;
  letter-spacing: -0.5px;
  font-size: 18px;
}
div.view-latest-news p.block-title-link a {
  color: @gray-darker;
  box-shadow: none;
  border: 0;
}
div.view-latest-news p.block-title-link a:hover {
  background: transparent;
}
.read-more {
  font-family: @font-family-sans-serif;
  line-height: 95%;
  letter-spacing: -0.5px;
  font-weight: bold;
  color: @gray-darker;
  font-size: 20px;
  text-align: right;
  display: block;
  padding: 12px 18px 18px;
}
.read-more:before {
  content: "\e092";
  font-family: "Glyphicons Halflings";
  line-height: 1;
  padding-right: 8px;
  font-size: 75%;
}
  

///////////////////////////////////
// Links
///////////////////////////////////
a:active, a:focus { outline: 0; }
a, a.classic {
  box-shadow: none;
  border-bottom: none;
  transition: none;
  color: @link-color;
}
a:hover, a.classic:hover {
  color: @link-hover-color;
  background: transparent;
}
p a,
a.text-link {
  box-shadow: 0px -3px 0px @link-colur-lighter inset;
  border-bottom: 2px solid @link-colur-lighter;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
  color: @gray-darker;
}
p a:hover,
a.text-link:hover {
  background: @link-colur-lighter none repeat scroll 0% 0%;
  color: @gray-darker;
}
p a.btn { box-shadow: none; }



///////////////////////////////////
// Fonts
///////////////////////////////////
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Noto+Serif:400,400italic,700,700italic|Catamaran:100,700|Abril+Fatface);
@font-family-h1 : "Abril Fatface";



///////////////////////////////////
// Headings
///////////////////////////////////
h1 { 
  letter-spacing: -2.5px; 
  text-transform: uppercase;
  font-family: @font-family-h1;
}
h2 { letter-spacing: -2px; }
h3 { letter-spacing: -1.5px; }
h4 { letter-spacing: -1px; }
h5 { letter-spacing: -0.5px; }
legend { font-family: @font-family-sans-serif; }
h1{ padding-top: 3.5rem;}
.page-header { border-bottom: 0; }


///////////////////////////////////
// Buttons
///////////////////////////////////
.btn { 
  font-family: @font-family-sans-serif; 
  padding: 10px 30px;
}
.btn-lg { 
  padding: 20px 40px;
}
.btn-sm { 
  padding: 8px 20px;
}
.btn-xs { 
  padding: 4px 10px;
}


///////////////////////////////////
// Navbar
///////////////////////////////////
.navbar {
  font-family: @font-family-sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}



///////////////////////////////////
// Blockquotes
///////////////////////////////////
blockquote {
  font-size: 16px;
  box-shadow: @siobhan-shadow;
  border-left: 15px solid @gray-darker;
  min-height: 150px;
}
.blockquote-reverse, blockquote.pull-right {
  border-right: 15px solid @gray-darker;
}
blockquote footer, blockquote small, blockquote .small {
  color: @gray-dark;
  font-size: 90%;
}
blockquote.quote,
blockquote.tip,
blockquote.comment,
blockquote.love,
blockquote.achievement {
  border-left: 15px solid #5c3566;
}
blockquote.comment {
  border-left: 15px solid #5cb85c;
}
blockquote.love {
  border-left: 15px solid #d9534f;
}
blockquote.achievement {
  border-left: 15px solid #f0ad4e;
}
blockquote.quote:before,
blockquote.tip:before,
blockquote.comment:before,
blockquote.love:before,
blockquote.achievement:before {
  content: "\e034";
  font-family: "Glyphicons Halflings";
  line-height: 1;
  font-size: 2.5em;
  float: right;
  margin-top: -5px;
  margin-right: -15px;
  color: @brand-primary;
}
blockquote.comment:before {
  content: "\e111";
  color: @brand-success;
}
blockquote.love:before {
  content: "\e005";
  color: @brand-danger;
}
blockquote.achievement:before {
  content: "\e001";
  color: @brand-warning;
}



///////////////////////////////////
// Splash
///////////////////////////////////
.siobhan-splash {
  background: @brand-primary;
  color: #fff;
}
.siobhan-splash.error {
  background: @brand-danger;
}
.siobhan-splash.grays {
  background: @gray-darker;
}



///////////////////////////////////
// Blocks
///////////////////////////////////
section.block-with-title {
  box-shadow: @siobhan-shadow;
  margin-bottom: 35px;
}
section.block-with-title > div {
  padding: 8px;
}
h2.block-title {
  border-top: 12px solid @gray-darker;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 85%;
  padding-top: 14px;
}



///////////////////////////////////
// Footer
///////////////////////////////////
#footer-wrapper {
  background: @brand-primary;
  color: #fff;
}
#footer-wrapper ul {
  list-style-type: none;
  padding: 0px 16px;
  font-family: @font-family-sans-serif;
  line-height: 1.1;
}
#footer-wrapper ul li {
  padding: 5px 0px;
}


///////////////////////////////////
// Author info
///////////////////////////////////
div.author {
  font-family: @font-family-sans-serif; 
  text-align: right;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid @gray;
}


///////////////////////////////////
// Tags
///////////////////////////////////
div.tags {
  text-align: right;
  margin-bottom: 45px;
}
div.tags a {
  font-family: @font-family-sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  background: @brand-primary;
  border-radius: 20px 1px 1px 20px;
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
  padding: 3px 15px 2px 25px;
  margin: 0px 8px 0px 0px;
}
div.tags a:before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
  width: 8px;
  height: 8px;
  left: 8px;
  top: 8px;
}



///////////////////////////////////
// Comments
///////////////////////////////////
li.comment-forbidden {
  font-family: @font-family-sans-serif; 
  font-weight: bold;
}
li.comment-forbidden:before {
  content: "\e111";
  font-family: "Glyphicons Halflings";
  padding-right: 10px;
}
section.comments h2 {
  border-top: 12px solid @gray-darker;
  padding-top: 8px;
  margin-bottom: 40px;
  margin-top: 60px;
}
article.js-comment {
  margin-top: 20px;
  margin-bottom: 70px;
}
article.js-comment footer {
  font-family: @font-family-sans-serif; 
  font-size: 16px;
  margin-bottom: 3px;
}
article.js-comment footer p {
  margin-bottom: 0;
}
article.js-comment span[rel="schema:author"] a {
  font-weight: bold;
  color: @link-color;
  box-shadow: none;
  border-bottom: none;
}
article.js-comment span[rel="schema:author"] a:hover {
  color: @link-hover-color;
  background: transparent;
}
article.js-comment h4 a {
  color: @gray-darker;
}
article.js-comment footer span.comment-permalink {
  float: right;
}
article.js-comment h4 {
  margin-bottom: 0;
}
section.comments div.indented {
  margin-left: 30px;
  margin-top: -40px;
}
section.comments blockquote.comment {
  margin-bottom: 5px;
}
section.comments blockquote.comment img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
section.comments blockquote.comment figcaption {
  text-align: center;
  margin-top: -15x;
  margin-bottom: 15px;
  font-family: @font-family-sans-serif;
}
section.comments li.comment-delete,
section.comments li.comment-edit,
section.comments li.comment-reply {
  font-family: @font-family-sans-serif; 
  font-weight: bold; 
}
///////////////////////////////////
// Flooding
///////////////////////////////////
.flooded.purple {
  background: @brand-primary;
  color: #fff;
}
