/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';
@gray-base:              #000;
@gray-darker:            #333;
@gray-dark:              #999;
@gray:                   #ccc;
@gray-light:             #ddd;
@gray-lighter:           #eee;
@brand-primary:         #5c3566;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@text-color:            @gray-darker;
@link-color: #cf90cb;
@link-hover-color: #5CB85F;
@link-hover-decoration: none;
@font-family-sans-serif:  "Catamaran", Helvetica, Arial, sans-serif;
@font-family-serif:       "Noto Serif", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   "Droid Sans Mono", "Courier New", monospace;
@font-family-base:        @font-family-serif;
@font-size-base:          16px;
@line-height-base:        1.52;
@line-height-computed:    30px;
@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:    700;
@headings-line-height:    0.95;
@font-size-h1:            64px;
@font-size-h2:            56px;
@font-size-h3:            46px;
@font-size-h4:            38px;
@font-size-h5:            32px;
@font-size-h6:            26px;
@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;
@caret-width-base:          6px;
@caret-width-large:         8px;
@btn-font-weight:                bold;
@btn-default-color:              @brand-primary;;
@btn-default-bg:                 #fff;
@btn-default-border:             @brand-primary;
@btn-border-radius-base:         2px;
@btn-border-radius-large:        3px;
@btn-border-radius-small:        1px;
@input-border:                   @gray-dark;
@input-border-focus:             @link-color;
@legend-color:                   @gray-darker;
@legend-border-color:            @gray;
@dropdown-border:                @gray-dark;
@dropdown-link-color:            @gray-darker;
@dropdown-link-hover-color:      #fff;
@dropdown-link-hover-bg:         @brand-primary;
@navbar-inverse-color:                      lighten(@gray-light, 15%);
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);
@navbar-inverse-toggle-hover-bg:            @brand-primary;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        @brand-primary;
@text-muted:                  @gray;
@abbr-border-color:           @gray;
@grid-float-breakpoint:     2px; 
@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
@breadcrumb-bg:                 transparent;
@breadcrumb-color:              @gray-darker;
@breadcrumb-active-color:       @gray-darker;
@breadcrumb-separator:          "/";

