{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Splash #}
{% if page.splash %}
  <div class="siobhan-splash"><div><div>{{ page.splash }}</div></div></div>
{% endif %}

{# Splash Error#}
{% if page.splash_error %}
  <div class="siobhan-splash error"><div><div>{{ page.splash_error }}</div></div></div>
{% endif %}

{# Splash Grays#}
{% if page.splash_grays %}
  <div class="siobhan-splash grays"><div><div>{{ page.splash_grays }}</div></div></div>
{% endif %}

<span class="siobhan-overlay"></span>
<div class='white-wrapper'>
{% if (page.off_canvas_left or page.navigation) %}
  <div class="siobhan-hotspot"><a class='siobhan-toggle left' title="Toggle menu"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" aria-label="Toggle menu"></span> <span class="siobhan-menu-text">menu</span><span class="visually-hidden">Toggle menu</span></a></div>
{% endif %}

{# Header #}
{% if page.header %}
  <header>
    {{ page.header }}
  </header>
{% endif %}

{# After Header #}
{% if page.after_header %}
    {{ page.after_header }}
{% endif %}

{# Off-Canvas Left #}
{% if page.off_canvas_left %}
  <div id="siobhan-oc-left" class="siobhan-oc-panel" data-side="left">
    {{ page.off_canvas_left }}
    {% if page.navigation %}
        {{ page.navigation }}
    {% endif %}
  </div>
{% endif %}

{# Before-Content Flooded #}
{% if page.pre_content_flood %}
  {{ page.pre_content_flood }}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">
      {# Before-Content Wide #}
      {% if page.pre_content_wide %}
      <div class="col-sm-12">
        {{ page.pre_content_wide }}
      </div>
      {% endif %}
    </div>
   




<div class="row">
  <article class="col-xs-12 col-sm-inset--12" id="center">
      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-offset-3 col-md-inset-3 col-sm-offset-3 col-lg-offset-3 col-lg-inset-3',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9 col-sm-offset-3 col-lg-7 col-md-8',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9 col-md-8 col-md-offset-1 col-lg-7 col-lg-offset-1',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1'
        ]
      %}
    <div{{ attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Before Content #}
        {% if page.pre_content %}
          {{ page.pre_content }}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}

        {# After Content #}
        {% if page.post_content %}
          {{ page.post_content }}
        {% endif %}

    </div>
  </article>
  {# Sidebar First #}
  {% if page.sidebar_first %}
    {% block sidebar_first %}
      <section class="col-xs-12 col-sm-3 col-lg-3" id="left">
        {{ page.sidebar_first }}
      </section>
    {% endblock %}
  {% endif %}
  {# Sidebar Second #}
  {% if page.sidebar_second %}
    {%
      set sidebar_second_classes = [
        page.sidebar_first and page.sidebar_second ? 'col-xs-12 col-md-3 col-lg-3 clear-991',
        page.sidebar_second and page.sidebar_first is empty ? 'col-xs-12 col-md-3 col-lg-3 col-sm-3'
      ]
    %}
    {% block sidebar_second %}
      <section{{ attributes.addClass(sidebar_second_classes).removeClass('col-md-offset-3 col-md-inset-3 col-sm-offset-3 col-lg-offset-3 col-lg-inset-3') }} id="right">
        {{ page.sidebar_second }}
      </section>
    {% endblock %}
  {% endif %}
</div>

















 
    <div class="row">


    {# After-Content Wide #}
    {% if page.post_content_wide %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{ page.post_content_wide }}
        </div>
    {% endif %}
    </div>
  </div>
{% endblock %}

{# After-Content Flooded #}
{% if page.post_content_flood %}
    {{ page.post_content_flood }}
{% endif %}

{# Before Footer #}
{% if page.before_footer %}
    {{ page.before_footer }}
{% endif %}
</div>
{% if page.footer %}
  {% block footer %}
    <div id='footer-wrapper'>
      <footer class="footer {{container}}" role="contentinfo">
        {{ page.footer }}
      </footer>
    </div>
  {% endblock %}
{% endif %}
<div id="siobhan-scroller"><a class='siobhan-scroll-to-top' title="Back to top"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" aria-label="Back to top"></span><span class="visually-hidden">Back to top</span></a></div>

{# Off-Canvas Right #}
{% if page.off_canvas_right %}
  <div id="siobhan-oc-right" class="siobhan-oc-panel" data-side="right">
    {{ page.off_canvas_right }}
  </div>
{% endif %}



