{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if site_logo %}
    <div class="logo">
      <a class="logo" href="{{ path('<front>') }}" title="{{ "Go to the #{ site_name } Home Page"|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ "Go to the #{ site_name } Home Page"|t }}" />
        <span class="visually-hidden">{{ "Go to the #{ site_name } Home Page."|t }}</span>
      </a>
    </div>
  {% endif %}
{% endblock %}
